.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #c2d0db;
}

.product-header {
    display: flex;
}

.product-name {
    margin-bottom: 0;
    margin-left: 0.7em;
}

#terms {
    margin-right: 0.2em;
}