a {
    color: white;
}

.left-container {
    display: flex;
    align-items: center;
}

.right-container {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: #0e1d27d7;
}

.navbar-brand {
    margin-right: 2rem;
}

.navbar-title {
    margin-top: 2rem;;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    float: left;
}

.navbar-logo{
    float: center;
    margin-right: 1rem;
}