<nav class="navbar sticky-top">
    <div class="container-fluid">
      <div class="left-container">
        <!-- Robot icon created by Zulfa Mahendra - Flaticon https://www.flaticon.com/free-icons/robot -->
        <img src="/assets/icon/logo.png" alt="logo" class="navbar-logo" />
        
      </div>
      <div class="right-container">
        <a class="navbar-brand" href="#">Producten</a>
        <a class="navbar-brand" href="#">Account</a>
        <button class="navbar-brand">Inloggen</button>
      </div>
    </div>
  </nav>
  
