<div class="project-info-container">
  <div class="project-info">
    <p>Product:</p>
    <p>Name: {{ selectedProduct?.name}}Test</p>
    <p>Picture: {{ selectedProduct?.picture }}Test</p>
    <p>Description: {{ selectedProduct?.description }}Test</p>
  </div>
  <div class="project-skills">

  </div>
</div>
<hr class="divider" />
<div class="bottom-box">
  <div>
    <div class="project-progress">
      <h5 class="bottom-header">Progress</h5>
      <!-- Some progress visualization (radial chart?) -->
    </div>
  <div class="project-chat">
</div>
