.products-list {
    list-style: none;
    padding-left: 0;
  }
  
  .card {
    margin-bottom: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .card-header {
    display: flex;
  }
  
  .product-title {
    margin-bottom: 0;
    margin-left: 0.7em;
  }
  
  .product-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
  }
  
  .product-info {
    margin-left: 1em;
  }
  
  .product-skills {
    width: 10em;
  }
  
  .skills-item {
    margin: 0;
  }